asgiref
click
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
dotenv
et_xmlfile
gunicorn
h11
numpy
openpyxl
packaging
pandas
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
pytz
six
sqlparse
tzdata
uvicorn
whitenoise
